# In this file we create an ANN model ( testing Purpose ) and fine tune this model for production and deployment.

In [3]:
##  Import Libraries

import pandas as pd
from keras.src.models import Sequential
from keras.src.layers import Dense , Flatten
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

import warnings
warnings.filterwarnings("ignore")

In [23]:
## Spliting data into train and test data

df = pd.read_csv('../Data/Clean_Raw_Data')
df.head()

   Unnamed: 0  Gender   Age  Height  Weight  ...  FAF  TUE  CALC  MTRANS  NObeyesdad
0           0       0  21.0    1.62    64.0  ...  0.0  1.0     3       3           1
1           1       0  21.0    1.52    56.0  ...  3.0  0.0     2       3           1
2           2       1  23.0    1.80    77.0  ...  2.0  1.0     1       3           1
3           3       1  27.0    1.80    87.0  ...  2.0  0.0     1       4           5
4           4       1  22.0    1.78    89.8  ...  0.0  0.0     2       3           6

[5 rows x 18 columns]

In [ ]:
df.drop(df.columns[0], axis=1)
df.head()

   Unnamed: 0  Gender   Age  Height  Weight  ...  FAF  TUE  CALC  MTRANS  NObeyesdad
0           0       0  21.0    1.62    64.0  ...  0.0  1.0     3       3           1
1           1       0  21.0    1.52    56.0  ...  3.0  0.0     2       3           1
2           2       1  23.0    1.80    77.0  ...  2.0  1.0     1       3           1
3           3       1  27.0    1.80    87.0  ...  2.0  0.0     1       4           5
4           4       1  22.0    1.78    89.8  ...  0.0  0.0     2       3           6

[5 rows x 18 columns]